<?xml version="1.0" encoding="utf-8" ?>
<FileSystemWatcherSettings CultureInfo="ru-Ru">
  <Rules>
    <Rule FilePattern="one" DestinationFolder="true" ActionToTakeWhenInputFileNameIsChanged="AddIndexNumber"/>
    <Rule FilePattern="two" DestinationFolder="true" ActionToTakeWhenInputFileNameIsChanged="AddMoveDate"/>
  </Rules>
  <Directories>
    <Directory Path="12343423"></Directory>
    <Directory Path="fgdfgsd"></Directory>
    <Directory Path="dsfdsf"></Directory>
  </Directories>
</FileSystemWatcherSettings>