<?xml version="1.0" encoding="utf-8" ?>
<FileSystemWatcherSettings CultureInfo="ru-Ru">
  <Rules>
    <Rule FilePattern="*" DestinationFolder="c:\1" ActionToTakeWhenInputFileNameIsChanged="AddIndexNumber"/>
    <Rule FilePattern="*.txt" DestinationFolder="c:\2" ActionToTakeWhenInputFileNameIsChanged="AddMoveDate"/>
  </Rules>
  <Directories>
    <Directory Path="c:\3"></Directory>
  </Directories>
</FileSystemWatcherSettings>